<body>
<header>
  <h1>Seja Bem-Vindo !</h1>
  <p> <b>Data : </b><%= data_formatada(Date.today) %></p>
</header>
<main>
<ul>
  <li>
    <%= link_to "Cadastro de Moedas" , coins_path %>
  </li>
</ul>
</main>
<footer>
  <span  author> Criado por LobaChaos 2021</span>
</footer>
</body>
