<body>
<div class="container_autenticacao">
<aside class="autenticacao">
  <a>Login</a>
  <a class="botao destaque">Registrar</a>
</aside>
</div>
<main>
  <img id="wallet" src="<%= image_url "digital_wallet.png" %>" alt="">
  <div class="apresentacao">
    <h2> Seja Bem-Vindo !</h2>   <br>
    <p>
      Crie já sua Crypto Wallet!
    </p>
    <br>
    <p> Você está em ambiente de <b><%= ambiente_rails %></b></p>
    <p>Está é uma variavel de Sessão --> <b><%= @nome %></b></p>
  </div>
</main>
</body>
