/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree
 *= require_self
 */

* {
    padding: 0;
    margin: 0;
}

header {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
}

.start {
    padding: 15px;
}

.menu {
    flex-grow: 10;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.menu li {
    padding: 10px 15px;
}


body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 1fr 75px;
    grid-gap: 1px;
    grid-template-areas:
                'cabecalho cabecalho'
                'conteudo conteudo'
                'rodape rodape'
}

footer {
    grid-area: rodape;
    align-items: center;
    background: #333;
    color: #fff;
}

[author] {
    display: grid;
    justify-content: center;
    padding: 25px;
}
