* {
    padding: 0;
    margin: 0;
}

#wallet {
    height: 450px;
    width: 450px;
    position: absolute;
    right: 50px;
    top: 125px;
    padding: 20px;
    margin: 20px;
}

main {
    display: flex;
    padding: 20px;
}

header {
    background-color: dodgerblue;
    color: white;
    border-bottom: black solid 5px;
}

footer {
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
}




