#wallet {
    grid-area: imagem;
    position: absolute;
    right: 0;
    height: 513px;
    width: 617px;
}
.container_autenticacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    right: 5px;
    top: 51px;
    color: white;
}

.autenticacao {

}

main {
    grid-area: conteudo;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    align-items: start;
    justify-content: center;
    padding: 20px;
    grid-template-areas:
            'texto_main imagem'
}


.apresentacao{
    grid-area: texto_main;
}
